# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/
*.py[cod]

# Ignore all contents of the logs directory
logs/*

# But do not ignore the logs directory itself
!logs/

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

venv*
dump*
.env

.idea
